@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');
* {
    box-sizing: border-box;
    background-color: black;
}
.navbar-brand{
    color:rgb(161, 241, 241);
}
body {
    margin-top: 20px;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    color:#ff3c00;
    line-height: 1.5;
    background-color: black;
}
/* .container-fluid{
    width:80%;

}

} */

/* searchResults is the id containing all the bootstrap cards- all the content that will return from the api search */
/* #searchResults{ 
    padding:10px;
} */
/* resultsColumn was the row that i turned into a column*/
/* .resultsColumn {
    display: flex;
    flex-direction: row;
    margin: top 60px;
    margin-bottom: 60px;
} */

.card img{
    inline-size: 100%;
    border-radius: 2px;
}

.card {
    border: #ff3c00;
    width: 25rem;
    padding: 5px;
    margin: 5px;
    border-color:#ff3c00;
    border-width: 1px;
}
.card p{
    font-family: 'Monaco', Monospace;
}
.card h3{
    font-family: 'Monaco', Monospace;
    font-style: italic;
    font-size: small;
    text-align: right;
}
.card h5 {
    font-weight:bold;
}

.card iframe{
    inline-size: 100%;
    border-color:#ff3c00;
    border-width: 3px;
}

.container {
    display: flex;
    flex-direction: row;
    grid-auto-columns:36%;
    padding: 0.5rem;
    overflow-x: scroll;
}

/* custom scroll bar */

#searchResults::-webkit-scrollbar {
	height: 4px;
	background-color: #ff3c00;
}

#searchResults::-webkit-scrollbar-thumb {
	background-color: rgb(161, 241, 241);
}

h1, h2 {
    font-weight: bold;
    text-align: center;
    font-size: 1.4em;
}

h2 {
    text-align: center;
}

nav {
    font-weight: bold;
    font-size: 1.4em;
    margin: 40px;
}
/* .navbar-brand img{
    max-height: 70px;
} */

/* jumbotron elements */
/* .jumbotron { 
    padding-bottom: 300px;

    justify-content:center;
}
.jumbotron .img{
    width: 100%;
}


} */

.jumbotron p{
    text-align: center;
    font-family: 'Monaco', Monospace;
}

/*contains search bar elements */
.jumbotron .input-group{
    background-color:#ff3c00;
}
#search-addon{
    background-color:transparent;
}

.fas{
    background-color:transparent;
}

/* .fas{
    background-color:rgba(187, 163, 210, 0.683); ;
} */


.lowContainer {
    margin-bottom: 600px;
    padding:60px;
    width:100%;
}
.lowContainer .trekContinues{
    padding:20px;
}
.lead{
    font-family: 'Monaco', Monospace;
}
.trekContinues p{
    text-align: center;
}
.beyond{
    text-align: center;
}

    /* float: none; 
    margin-bottom: 10px;
    width: 18rem;
} */

/* button:hover {
    transition: 0.4s ease-in-out;
    box-shadow: 0 0 20px rgb(16, 64, 116);
    cursor: pointer; 
} */

#search-form {
    width: 60%;
}